body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:visited { 
    color: lightgrey;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, section, article {
    display: flex;
    flex-direction: column;
}
header, nav {
    display:flex;
    flex-direction: row;
}

body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
}

header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
}

footer {
    background: #222;
    grid-area: bottom;
}

/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

h2 {
    font-size: 1.4em;
    padding-top: 5px;
    line-height: 20px;
}

p {
    font-weight: 300;
    font-size: 1.2em;
    color: lightgrey;
}

footer img {
    border-radius: 0%;

}

/***************************/
/* Part A: Left Navigation */
/***************************/

#sidebar {
    padding-left:15px;
}

#sidebar i {
    margin: 15px;
}

aside .selected {
    border-left: 3px solid #1DB954;
}

#sidebar a:hover {
    color: white;
    font-weight:bold;
}

/********************************/
/* Part B: Header & Nav Styling */
/********************************/

header {
    display: flex;
    justify-content: flex-end;
}

nav {
    padding: 20px;
    
}

nav a, header a {
    margin:20px;
    font-size: .9em;
}

nav a:hover {
    border-bottom: 2.5px solid #1DB954;
    margin-bottom: 10px;
}

nav .selected {
    border-bottom: 2.5px solid #1DB954;
    margin-bottom: 10px;
}

#upgrade {
    border: 2px solid lightgrey;
    color: white;
    padding: 10px 35px;
    font-size: .8em;
    cursor: pointer;
    border-radius: 25px;
}

#profile {
    color: white;
    background-color: #222;
    padding: 10px 35px;
    font-size: .8em;
    cursor: pointer;
    border-radius: 25px;
}

#upgrade:hover , #profile:hover {
    background-color: 	#303030;
}

/*************************/
/* Part C: Artists Panel */
/*************************/

#featured-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
       "main"
       "main";
    height: 100;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin:10px;
}

.artist-card{
    line-height: 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    background:#222; 
    padding: 25px;
    border-radius: 5%;
}

footer .img {
    border-radius: 0%;
}

img {
    border-radius: 50%;
    max-width:100%;
}

/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */

@media (max-width: 1400px) {
    #featured-content {
       grid-template-columns: 1fr 1fr 1fr;
       }
}

@media (max-width: 750px) {
    body {
       grid-template-columns: 1fr;
    }
    #featured-content {
        grid-template-columns: 1fr 1fr;
    }

    aside {
        display:none;
    }
    header {
        display: flex;
        width: 100%;
    }
}