body {
    background-color: white;
}

.footer {
    margin: 20px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Koulen', cursive;
    font-size: 20px;
    padding-bottom: 5vh;
}

.footer a {
    margin-right: 15px;
    color:black;
    text-decoration: none;
}

.footer a:hover{
    margin-right: 15px;
    color: plum;
    text-decoration: none;
}



#video {
    position: absolute;
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    z-index:0;
    object-fit: cover;
  }

.intro {
    position:relative;
    height: 95vh;
    background-size: cover;
    background-position: center;
    z-index:100;
}

#container1 {
    margin: 0;
    

}

.container2 {
    margin: 0;
    padding-left:2%;
    padding-right:2%;
    z-index:100;
}

.container-carousel {
    background-color: white;
    margin: 0;
    padding-bottom: 10vh;
    z-index:100;
}


h1 {
    color: white;
    text-align: center;
    font-size: 60PX;
    margin-top: 0px;
    padding-top:40vh;
    font-family: 'Koulen', cursive;
    z-index: 100;
    align-content: center;
}

h2 {
    color: #181e24;
    text-align: center;
    font-size: 80px;
    font-family: 'Koulen', cursive;
    margin-bottom:0;
    padding: 0px;
}

p {
    color: #181e24;
    text-align: center;
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    line-height:30px;
    margin-bottom:0;
    padding: 50px;
}


.container {
    display:flex;
    justify-content: center;
}

/**************************/
/* Galleries */
/**************************/

.gallery2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "a d b e"
    "i j h g"
    "c c c c"
    "f f f f";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding-bottom: 5vh;
    justify-items: center;
}

.gallery3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
       "k l s s o p"
       "q r s s n m";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-items: center;
}


/**************************/
/* Images */
/**************************/

.caption {
    grid-area:ca;
}

.image1 {
    grid-area:a;
}

.image2 {
    grid-area:b;
}

.image3 {
    grid-area:c;
}

.image4 {
    grid-area:d;
}

.image5 {
    grid-area:e;
}

.image6 {
    grid-area:f;
}

.image7 {
    grid-area:g;
}

.image8 {
    grid-area:h;
}

.image9 {
    grid-area:i;
}

.image10 {
    grid-area:j;
}
.image11 {
    grid-area:k;
}

.image12 {
    grid-area:l;
}

.image13 {
    grid-area:m;
}

.image14 {
    grid-area:n;
}

.image15 {
    grid-area:o;
}

.image16 {
    grid-area:p;
}
.image17 {
    grid-area:q;
}

.image18 {
    grid-area:r;
}

.image19 {
    grid-area:s;
}


/**************************/
/* Size Images */
/**************************/


.image {
    padding:0px;
    width:100%;
    align-self: center;
    justify-self: center;
}


.logo {
    padding:0px;
    width:7%;
    align-self: center;
    justify-self: center;
}

/**************************/
/* Carousel*/
/**************************/

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  max-height:500px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  font-family: 'Koulen', cursive;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: pink;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.texture {
    justify-content: center;
    justify-self: center;
    justify-items: center;

}

/**************************/
/* Responsive UIs */
/**************************/


/* Ipad*/

@media (max-width: 1100px) {
    .container2 {
        margin: 0;
        padding-left:4%;
        padding-right:4%;
    }
    .gallery2 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
           "a b"
           "e d"
           "c c"
           "f f"
           "i j"
           "g h";
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        justify-items: center;
    }

    .gallery3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
           "k l"
           "o p"
           "s s"
           "q r" 
           "n m";
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        padding-bottom:5vh;
        justify-items: center;
    }
    
    h2 {
        color: #181e24;
        text-align: center;
        font-size: 80px;
        font-family: 'Koulen', cursive;
        line-height:130px;
        margin-bottom:0;
    }

    p {
        color: #181e24;
        text-align: center;
        font-size: 25px;
        font-family: 'Prompt', sans-serif;
        line-height:30px;
        margin-bottom:0;
        padding-top: 0px;
        padding-left:140px;
        padding-right:140px;
        padding-bottom: 30px;
    }

}

/* Mobile */

@media (max-width: 800px) {
    .gallery2 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
           "a"
           "b"
           "c"
           "d"
           "e"
           "f"
           "g"
           "h"
           "i"
           "j";
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        justify-items: center;
    }
    .gallery3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
           "k l"
           "o p"
           "s s"
           "q r"
           "n m";
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        justify-items: center;
    }
    
    .container2 {
        margin: 0;
        padding-left:5%;
        padding-right:5%;
    }
    p {
        color: #181e24;
        text-align: center;
        font-size: 25px;
        font-family: 'Prompt', sans-serif;
        line-height:30px;
        margin-bottom:0;
        padding-top: 0px;
        padding-left:5%;
        padding-right:5%;
        padding-bottom: 30px;
    }

    h2 {
        color: #181e24;
        text-align: center;
        font-size: 50px;
        font-family: 'Koulen', cursive;
        line-height:90px;
        padding-bottom:30px;
    }
}